<div class="container">
  <form id="new_category" action="/category/create" method="post">
      <p>Title</p>
      <input id="title" type="text" name="category[title]">
      <br>
      <p>Description</p>
      <textarea id="description" cols="40" rows="5" name="category[description]">Enter Some Stuff Here</textarea>
      <br>
      <br>
      <input type="submit" value="Create!!">
  </form>
</div>